cli:
  handler:
    track_interval: 60
    alert_interval: 60
    alert_times: 5
telegram:
  handler:
    track_interval: 60
    alert_interval: 60
    alert_times: 5
  client:
    timeout_seconds: 12
    verbose: false
    bot_tokens:
      - 123456789:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
      - 123456789:BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
