cli:
  handler:
    track_interval: 60
    alert_interval: 60
    alert_times: 5
telegram:
  bot_token: 123456789:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  handler:
    track_interval: 60
    alert_interval: 60
    alert_times: 5