cli:
  handler:
    track_interval: 60
    alert_interval: 60
    alert_times: 5
telegram:
  handler:
    track_interval: 60
    alert_interval: 60
    alert_times: 5
  # bot_tokens are array, so you can add more than 1 token
  bot_tokens:
    - 123456789:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA